#WoStehenSieComponenent {
    align-items: center;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

#WoStehenSieComponenent .col-md-6 {
    height: 55%;
}

#removePadding {
    padding-left: 0;
}

#spring {
    background: #7AB317;
    width: 100%;
    height: 100%;
}

#summer {
    background: #FA6900;
    width: 100%;
    height: 100%;
}

#autumn {
    background: #BF4D28;
    width: 100%;
    height: 100%;
}

#winter {
    background: #8AC7DE;
    width: 100%;
    height: 100%;
}