#consensComponent {
}
#stripes-container {
    padding-top: 15px;
}

#light-blue {
    width: 100%;
    height: 75px;
    z-index: 1;
    background-color: #107FC9;
    position: absolute;
}

#dark-blue {
    width: 75%;
    height: 75px;
    margin-top: 37.5px;
    right: 0;
    z-index: 2;
    background-color: #0E4EAD;
    position: absolute;
}

#pics-wrapper {
    height: 400px;
}

#first-pic {
    height: 300px;
    width: 35%;
    margin-left: 5.5%;
    background: url("../../images/about/consens-mountains.jpg") center center;
    display: inline-block;
    -webkit-background-size: cover;
    background-size: cover;
}

#second-pic {
    height: 300px;
    width: 35%;
    background: url("../../images/about/consens-eagle.jpeg") center center;
    -webkit-background-size: cover;
    background-size: cover;    
    position: absolute;
    bottom: 0;
    right: 15%;
    display: inline-block;
}

#text-wrapper {
    padding-top: 75px;
}