html, body {
    height: 100%;
    width: 100%;
    overflow-x: hidden;
}

#root {
    height: 100%;
}

.App {
    height: 100%;
}

section {
    width: 100%;
    height: 100%;
}

h1,h2,h3,h4,h5,h6,p {
    font-family: 'Raleway', sans-serif !important;
}

::-webkit-scrollbar-track {
    background-color: #FFF;
    z-index: 2000;
}

::-webkit-scrollbar {
    width: 7px;
    background-color: #FFF;
    z-index: 2000;
}

::-webkit-scrollbar-thumb {
    background-color: #0F55B4;
    z-index: 2000;
}

::-moz-selection {
    background:#0F55B4;
    color: whitesmoke;
    z-index: 2000;
}
::selection {
    background:#0F55B4;
    color: whitesmoke;
    z-index: 2000;
}

.btn-consens {
    padding: 21px;
    background-color: #0F55B4;
    color: #FFF;
    -webkit-border-radius: 15px;
    -moz-border-radius: 15px;
    border-radius: 15px;
}
.btn-consens:hover {
    background-color: #FFF;
    color: #07093D;
}
.btn-consens-xs {
    padding: 10px !important;
    -webkit-border-radius: 5px !important;
    -moz-border-radius: 5px !important;
    border-radius: 5px !important;
}

.btn-consens-invert {
    padding: 21px;
    background-color: #FFF;
    color: #0F55B4;
    border: 1px solid #0F55B4;
    -webkit-border-radius: 15px;
    -moz-border-radius: 15px;
    border-radius: 15px;
}
.btn-consens-invert:hover {
    background-color: #0F55B4;
    color: #FFF;
}

.text-thin {
    font-weight: 300 !important;
}

.call-to-action {
    clear: both;
    background: -webkit-radial-gradient(rgba(255,255,255, 0.7),rgba(255,255,255, 1));
    background: radial-gradient(rgba(255,255,255, 0.7),rgba(255,255,255, 1));
    padding-bottom: 135px;
    padding-top: 135px;
    width: 100%;
}
.line {
    width: 100%;
    height: 1px;
    background-color: #333;
}